// variables
:root {
	--main: #333333;
	--white: #fff;
	--secondary: #bdbdbd;
}

// reset
body {
	margin: 0 auto;
	color: #333333;
	font-family: "Space Mono", monospace;
	min-height: 100vh;

	max-width: 1600px;

	padding: 20px 0;

	display: flex;
	flex-direction: column;
	gap: 40px;
}

section {
	display: flex;
	align-items: center;
	flex-direction: column;

	margin-top: auto;
	margin-bottom: auto;
}

*,
*::after,
*:before {
	box-sizing: border-box;
}

a {
	display: inline-block;
	text-decoration: inherit;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-block: 0;
}

img {
	max-width: 100%;
	height: auto;
}

// utilities
.text-center {
	text-align: center;
}

// components
.btn {
	padding: 23px 43px;
	background-color: var(--main);
	color: var(--white);
	border: 1px solid var(--main);
	text-transform: uppercase;
	transition: {
		property: background-color, color;
		duration: 0.2s;
	}

	&:hover {
		background-color: var(--white);
		color: var(--main);
	}
}

// text
.title {
	font: {
		weight: 700;
		size: 64px;
	}

	line-height: 1.6;

	&-page {
		text-transform: uppercase;

		font: {
			size: 24px;
			family: "Inconsolata", monospace;
		}
	}
}

.subtitle {
	font-size: 24px;

	&-box {
		max-width: 400px;
	}
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;

	row-gap: 70px;
	/* padding: {
		left: 15px;
		right: 15px;
	} */
	> * {
		flex: 1 1 100%;
	}

	@media (min-width: 768px) {
		flex-direction: row;
	}
}

.col {
	margin: {
		left: 24px;
		right: 24px;
	}
}

.stack-spacing > * + * {
	margin-top: 60px;
}

footer {
	color: var(--secondary);

	a:hover {
		text-decoration: underline;
	}
}
